.SideDrawer {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: #1E1E1E;
    transition: width 0.3s ease-out;
    padding: 50px;
    border: 1px solid #656565;
}

.Open {
    width: calc(294% + 20px);
    padding: 50px;

    div {
        transition: opacity 0.3s ease-in;
        opacity: 1;
    }
}

.Close {
    padding: 0;
    width: 0;
    overflow: hidden;
    border: none;

    div {
        opacity: 0;
    }
}

.OrderContainer {
    border: 1px solid #656565;
    height: calc(100% - 108px);

    .OrderTitle,
    .OrderSummarize {
        margin: 20px;
        padding-bottom: 20px;
        justify-content: space-between;
    }

    .OrderTitle {
        border-bottom: 1px solid #656565;
    }

    div {
        display: flex;
    }

    h5 {
        margin: 0;
        font-size: 30px;
    }

    span,
    p {
        font-size: 20px;
    }

    p {
        margin-left: 10px;
    }

    .OrderSummarizePrice {
        font-size: 30px;
    }
}

.OrderContainerNoLogin {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 36px;
    }
}

.OrderList {
    display: flex;
    flex-flow: column;
    border-bottom: 1px solid #EAEAEA;

    li {
        margin: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
}

.OrderContainerSummarize {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    h4 {
        margin-bottom: 32px;
    }
}

.Button {
    background-color: #1E1E1E;
    border: 1px solid #EAEAEA;
    color: #EAEAEA;
    text-transform: uppercase;
    padding: 20px 40px;
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    height: 68px;
}

.Arrow:before {
    content: "<";
    margin-right: 10px;
}

@media (max-width: 600px) {
    .Open {
        width: 100%;
        padding: 50px;
    }

    .Close {
        padding: 0;
        width: 0;
        overflow: hidden;
        border: none;
    }

    .Button {
        text-transform: uppercase;
        padding: 20px 20px;
        font-size: 16px;
        font-weight: bold;
        margin: 10px;
        height: 68px;
        width: 100%;
    }

    .SideDrawer {
        height: auto;
    }
}