@import url(https://fonts.googleapis.com/css?family=Mr+De+Haviland);.Home__Home___wn_iU {
  padding: 25px; }
  .Home__Home___wn_iU h5 {
    margin: 20px 0px; }
  .Home__Home___wn_iU .Home__Reservation_Paragraph___PJ8K_ {
    font-size: 1.1rem; }
.Restaurant__Restaurant___2liGC {
  padding: 25px; }
.Bar__Bar___2qfom {
  padding: 25px; }
.Menu__Menu___CeWoz {
  padding: 25px; }
.Order__OrderAside___I26sN {
  margin: -16px 30px -1px 20px;
  padding: 20px 0 20px 0px;
  border-right: 1px solid #EAEAEA;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid white; }

.Order__DishesContainer___1oNfI {
  padding-left: 20px; }

.Order__OrderContainer___60q4e {
  border-top: 3px solid #EAEAEA;
  margin-top: 50px; }
  .Order__OrderContainer___60q4e .Order__OrderTitle___cviAr {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding-right: 20px; }
    .Order__OrderContainer___60q4e .Order__OrderTitle___cviAr span {
      color: rgba(234, 234, 234, 0.3); }
  .Order__OrderContainer___60q4e .Order__OrderSummarize___1-7W8 {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding-right: 20px; }
  .Order__OrderContainer___60q4e .Order__Button___2ef7n {
    background-color: #EAEAEA;
    color: black;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold; }

@media (max-width: 600px) {
  .Order__OrderAside___I26sN {
    margin: 0px 30px -1px 20px; } }
.OrderMenu__Dropdown___EvMNO {
  margin-bottom: 16px;
  cursor: pointer; }
  .OrderMenu__Dropdown___EvMNO p {
    margin: 0; }
  .OrderMenu__Dropdown___EvMNO li {
    text-transform: uppercase;
    margin: 4px 0; }
    .OrderMenu__Dropdown___EvMNO li:hover {
      color: rgba(234, 234, 234, 0.3); }
    .OrderMenu__Dropdown___EvMNO li a {
      color: inherit; }
    .OrderMenu__Dropdown___EvMNO li a:hover {
      color: rgba(234, 234, 234, 0.3); }
    .OrderMenu__Dropdown___EvMNO li .OrderMenu__Active___2Nfe5 {
      color: rgba(234, 234, 234, 0.3); }
  .OrderMenu__Dropdown___EvMNO .OrderMenu__DishesMenu___3wAFC {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    padding-right: 8px;
    align-items: center; }
    .OrderMenu__Dropdown___EvMNO .OrderMenu__DishesMenu___3wAFC:hover > p {
      color: rgba(234, 234, 234, 0.3); }
    .OrderMenu__Dropdown___EvMNO .OrderMenu__DishesMenu___3wAFC:hover > i {
      color: rgba(234, 234, 234, 0.3); }
  .OrderMenu__Dropdown___EvMNO .OrderMenu__HiddenMenu___6hOGi {
    overflow: hidden; }
  .OrderMenu__Dropdown___EvMNO ul {
    border-top: 1px solid white; }

.OrderMenu__Dropdown___EvMNO i {
  transition: transform 0.5s; }

.OrderMenu__HideMenu___1JEZJ ul {
  max-height: 0;
  transition: max-height 0.3s ease-out; }

.OrderMenu__ShowMenu___2AY8c ul {
  max-height: 300px;
  transition: max-height 1s ease-in; }

.OrderMenu__ShowMenu___2AY8c i {
  transform: rotate(180deg); }
.OrderCart__OrderItems___3taQg {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  position: relative;
  border-bottom: 1px solid #EAEAEA; }
  .OrderCart__OrderItems___3taQg i {
    position: absolute;
    left: 0;
    right: 10px;
    text-align: center;
    color: rgba(234, 234, 234, 0.2); }
  .OrderCart__OrderItems___3taQg p {
    color: rgba(234, 234, 234, 0.5);
    padding: 10%;
    margin-top: 20%;
    text-align: center; }

.OrderCart__OrderList___2zavF {
  display: flex;
  flex-flow: column; }
  .OrderCart__OrderList___2zavF .OrderCart__OrderListItem___2fCge {
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EAEAEA; }
    .OrderCart__OrderList___2zavF .OrderCart__OrderListItem___2fCge img {
      width: 20%; }
    .OrderCart__OrderList___2zavF .OrderCart__OrderListItem___2fCge p {
      padding: 0;
      margin: 0; }
    .OrderCart__OrderList___2zavF .OrderCart__OrderListItem___2fCge i {
      cursor: pointer; }
  .OrderCart__OrderList___2zavF .OrderCart__Quantity___2SX5v {
    min-width: 30px; }
  .OrderCart__OrderList___2zavF .OrderCart__OrderDescription___SjVjR {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center; }
    .OrderCart__OrderList___2zavF .OrderCart__OrderDescription___SjVjR span {
      font-weight: bold; }
.SideDrawer__SideDrawer___1HIpA {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: #1E1E1E;
  transition: width 0.3s ease-out;
  padding: 50px;
  border: 1px solid #656565; }

.SideDrawer__Open___VLt2p {
  width: 294%;
  padding: 50px; }

.SideDrawer__Close___3xFZF {
  padding: 0;
  width: 0;
  overflow: hidden;
  border: none; }

.SideDrawer__OrderContainer___3nWSY {
  border: 1px solid #656565;
  height: calc(100% - 108px); }
  .SideDrawer__OrderContainer___3nWSY .SideDrawer__OrderTitle___zL8hW, .SideDrawer__OrderContainer___3nWSY .SideDrawer__OrderSummarize___1uyyD {
    margin: 20px;
    padding-bottom: 20px;
    justify-content: space-between; }
  .SideDrawer__OrderContainer___3nWSY .SideDrawer__OrderTitle___zL8hW {
    border-bottom: 1px solid #656565; }
  .SideDrawer__OrderContainer___3nWSY div {
    display: flex; }
  .SideDrawer__OrderContainer___3nWSY h5 {
    margin: 0;
    font-size: 30px; }
  .SideDrawer__OrderContainer___3nWSY span, .SideDrawer__OrderContainer___3nWSY p {
    font-size: 20px; }
  .SideDrawer__OrderContainer___3nWSY p {
    margin-left: 10px; }
  .SideDrawer__OrderContainer___3nWSY .SideDrawer__OrderSummarizePrice___32wfi {
    font-size: 30px; }

.SideDrawer__OrderList___3M4OR {
  display: flex;
  flex-flow: column;
  border-bottom: 1px solid #EAEAEA; }
  .SideDrawer__OrderList___3M4OR li {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; }

.SideDrawer__Button___1Mkp_ {
  background-color: #1E1E1E;
  border: 1px solid #EAEAEA;
  color: #EAEAEA;
  text-transform: uppercase;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: bold;
  margin: 40px;
  height: 68px; }

.SideDrawer__Arrow___3hlD3:before {
  content: "<";
  margin-right: 10px; }

@media (max-width: 600px) {
  .SideDrawer__Open___VLt2p {
    width: 100%;
    padding: 50px; }
  .SideDrawer__Close___3xFZF {
    padding: 0;
    width: 0;
    overflow: hidden;
    border: none; }
  .SideDrawer__Button___1Mkp_ {
    text-transform: uppercase;
    padding: 20px 20px;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    height: 68px; } }
.Contact__Contact___3uMD9 {
  padding: 25px; }
  .Contact__Contact___3uMD9 p {
    margin: 0; }
.AsideMenu__AsideMenu___31zjI {
  background-color: #1E1E1E;
  color: white;
  height: 100%;
  position: relative; }
.TopNav__Navigation___ne0Gm {
  width: 100%;
  display: flex;
  align-items: center; }
  .TopNav__Navigation___ne0Gm .TopNav__NavigationMenu___3dmhs {
    display: flex; }
    .TopNav__Navigation___ne0Gm .TopNav__NavigationMenu___3dmhs li {
      align-items: center;
      display: flex;
      width: 100%; }
    .TopNav__Navigation___ne0Gm .TopNav__NavigationMenu___3dmhs a, .TopNav__Navigation___ne0Gm .TopNav__NavigationMenu___3dmhs i {
      color: #efefef;
      margin: 5px auto;
      text-transform: uppercase;
      text-shadow: 1px 1px 5px #000;
      white-space: nowrap;
      cursor: pointer; }
      .TopNav__Navigation___ne0Gm .TopNav__NavigationMenu___3dmhs a:hover, .TopNav__Navigation___ne0Gm .TopNav__NavigationMenu___3dmhs i:hover {
        color: #FFFFFF;
        text-decoration: none; }
    .TopNav__Navigation___ne0Gm .TopNav__NavigationMenu___3dmhs a {
      font-size: 14px; }
    .TopNav__Navigation___ne0Gm .TopNav__NavigationMenu___3dmhs i {
      width: 100%;
      text-align: end; }
    .TopNav__Navigation___ne0Gm .TopNav__NavigationMenu___3dmhs .TopNav__Active___1-Eow {
      color: #B2B1B1; }
      .TopNav__Navigation___ne0Gm .TopNav__NavigationMenu___3dmhs .TopNav__Active___1-Eow:hover {
        color: #B2B1B1; }

@media (max-width: 600px) {
  .TopNav__Navigation___ne0Gm {
    display: none; } }
.NavItem__Dropdown___3xECP:hover > .NavItem__Dropdown_Menu___362JF {
  display: block; }

.NavItem__Dropdown_Menu___362JF {
  position: absolute;
  top: 100%;
  left: 25%;
  right: 25%;
  z-index: 1000;
  padding: 0 0.5rem .25rem 0.5rem;
  display: none;
  text-align: center; }

.NavItem__Dropdown___3xECP {
  position: relative; }
.Logo__Logo___27nQP {
  padding: 0 0 15px 0;
  background-color: #1E1E1E;
  width: 100%; }
  .Logo__Logo___27nQP h1 {
    margin: 0 40px;
    padding: 30px 0;
    font-size: 46px;
    font-family: 'Mr De Haviland', cursive;
    border-bottom: 1px solid #EAEAEA; }
.NavMobile__NavMobile___2ZM7V {
  display: none;
  position: relative;
  width: 100%;
  margin-bottom: 5px; }
  .NavMobile__NavMobile___2ZM7V .NavMobile__NavContainer___ZX66n {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 25px 25px 0 0;
    z-index: 500; }
  .NavMobile__NavMobile___2ZM7V .NavMobile__NavMenu___1FaMS {
    background-color: #1E1E1E;
    position: absolute;
    left: 10%;
    top: calc( 100% - 25px);
    transform-origin: 100% 0%;
    width: 80%;
    border: 1px solid #EAEAEA; }
    .NavMobile__NavMobile___2ZM7V .NavMobile__NavMenu___1FaMS ul {
      margin: 0; }
    .NavMobile__NavMobile___2ZM7V .NavMobile__NavMenu___1FaMS li:not(:first-child) {
      border-top: 1px solid #efefef; }
    .NavMobile__NavMobile___2ZM7V .NavMobile__NavMenu___1FaMS a, .NavMobile__NavMobile___2ZM7V .NavMobile__NavMenu___1FaMS .NavMobile__SignIn___22VZ9 {
      color: #efefef;
      display: flex;
      padding: 10px 25px;
      margin: 5px auto;
      text-align: center;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px #000; }
      .NavMobile__NavMobile___2ZM7V .NavMobile__NavMenu___1FaMS a:hover, .NavMobile__NavMobile___2ZM7V .NavMobile__NavMenu___1FaMS .NavMobile__SignIn___22VZ9:hover {
        color: #FFFFFF;
        text-decoration: none; }
    .NavMobile__NavMobile___2ZM7V .NavMobile__NavMenu___1FaMS .NavMobile__SignIn___22VZ9 {
      cursor: pointer; }
    .NavMobile__NavMobile___2ZM7V .NavMobile__NavMenu___1FaMS .NavMobile__Active___2VTAu {
      color: #B2B1B1; }
      .NavMobile__NavMobile___2ZM7V .NavMobile__NavMenu___1FaMS .NavMobile__Active___2VTAu:hover {
        color: #B2B1B1;
        text-decoration: none; }
  .NavMobile__NavMobile___2ZM7V .NavMobile__Active___2VTAu {
    color: #B2B1B1; }

@media (max-width: 600px) {
  .NavMobile__NavMobile___2ZM7V {
    display: flex; } }

.NavMobile__Show___2D_sT {
  transition: all 1s;
  opacity: 1;
  transform: scaleY(1); }

.NavMobile__Hide___1qPWK {
  transition: all 1s;
  opacity: 0;
  transform: scaleY(0); }
.NavBtn__NavigationBtn___3068_ {
  background: transparent;
  border: 1px solid transparent;
  font-size: 14px;
  height: 25px;
  padding: 0;
  width: 25px;
  position: relative;
  cursor: pointer; }
  .NavBtn__NavigationBtn___3068_:focus {
    outline: none; }
  .NavBtn__NavigationBtn___3068_ span {
    background: #EAEAEA;
    height: 2px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: background 0.4s;
    width: 22px;
    z-index: 500px; }
    .NavBtn__NavigationBtn___3068_ span::before, .NavBtn__NavigationBtn___3068_ span::after {
      content: "";
      background: #EAEAEA;
      height: 2px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      transition: top 0.5s, left 0.5s, transform 0.5s;
      width: 22px; }
    .NavBtn__NavigationBtn___3068_ span::before {
      top: 8px; }
    .NavBtn__NavigationBtn___3068_ span::after {
      top: -8px; }

.NavBtn__Active___1gUPe span {
  background: rgba(0, 0, 0, 0); }
  .NavBtn__Active___1gUPe span::before {
    left: 0;
    top: 0;
    transform: rotate(45deg); }
  .NavBtn__Active___1gUPe span::after {
    left: 0;
    top: 0;
    transform: rotate(135deg); }
.Footer__Footer___OZ_X6 {
  border-top: 1px solid #EAEAEA;
  padding: 50px 0px;
  background-color: #1E1E1E; }
  .Footer__Footer___OZ_X6 p {
    text-align: center;
    margin: 0; }

.Footer__Images___1VUCa {
  text-align: center;
  margin: 24px 0; }
  .Footer__Images___1VUCa a {
    display: inline-block; }
  .Footer__Images___1VUCa a:first-child > img:hover {
    border-radius: 2px; }
  .Footer__Images___1VUCa img {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 10px;
    filter: invert(100%); }
    .Footer__Images___1VUCa img:hover {
      border-radius: 50%;
      filter: invert(50%); }

.Footer__SecondText___2YTFO {
  color: #656565;
  font-size: 11px; }

@media (max-width: 600px) {
  .Footer__Footer___OZ_X6 {
    display: none; } }

.Footer__Show___3T49b {
  display: none; }

@media (max-width: 600px) {
  .Footer__Show___3T49b {
    display: inline-block;
    width: 100%; } }
.Modal__Modal___jGFgr {
  position: fixed;
  z-index: 500;
  background-color: #404040;
  width: 70%;
  left: 15%;
  top: 20%;
  box-sizing: border-box;
  transition: all 0.3s ease-out; }
  .Modal__Modal___jGFgr i {
    box-sizing: border-box;
    background-color: black;
    border-radius: 16px;
    cursor: pointer;
    position: absolute;
    color: #eaeaea;
    right: calc(0% - 16px);
    top: calc(0% - 16px); }

@media (min-width: 600px) {
  .Modal__Modal___jGFgr {
    width: 500px;
    left: calc(50% - 250px); } }
.Backdrop__Backdrop___lZaKH {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5); }
.Input__Input___3FN-L {
  width: 100%;
  box-sizing: border-box; }
  .Input__Input___3FN-L textarea {
    min-height: 200px; }

.Input__InputElement___H1nkI:focus + p {
  display: none; }

.Input__ErrorMsg___JXjnC {
  display: block;
  height: 16px;
  color: red;
  margin-top: 10px;
  text-align: left; }

.Input__Label___174t1 {
  display: block; }

.Input__InputElement___H1nkI {
  border: 1px solid #333333;
  background-color: rgba(101, 101, 101, 0.5);
  color: #EAEAEA;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%; }

.Input__InputElement___H1nkI:focus {
  outline: none;
  background-color: rgba(101, 101, 101, 0.9);
  border: none; }

.Input__Invalid___VELIp {
  border: 1px solid red; }
.Auth__Auth___31lNH {
  width: 80%;
  text-align: center;
  border: 1px solid #eee;
  padding: 20px;
  box-sizing: border-box; }

@media (min-width: 600px) {
  .Auth__Auth___31lNH {
    width: 500px; } }

.Auth__ButtonContainer___2aUMS {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 10px; }
  .Auth__ButtonContainer___2aUMS button {
    background-color: #EAEAEA;
    color: black;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    width: 50%;
    margin: 20px; }
.Layout__Layout___3bvmG {
  background-image: url(/Restaurant/static/media/background.c71c3ba0.webp);
  height: 100%;
  width: 100%;
  position: fixed;
  background-position: center;
  background-size: cover;
  overflow-y: auto; }

.Layout__Container___3rLeV {
  margin: 0 20px 0 0; }

@media (max-width: 600px) {
  .Layout__Container___3rLeV {
    margin: 0; } }
.Slider__Slider___yAocZ {
  width: 100%;
  border: 2rem solid #1E1E1E;
  position: relative;
  margin: 0 20px; }
  .Slider__Slider___yAocZ ul {
    margin: 0; }
  .Slider__Slider___yAocZ .Slider__Left___1pKyz {
    transition: 1s ease;
    opacity: 0;
    margin-left: 1rem;
    position: absolute;
    color: rgba(255, 255, 255, 0.6);
    left: 0%;
    top: 50%;
    z-index: 1000;
    cursor: pointer;
    line-height: 100%;
    transform: translateY(-50%); }
  .Slider__Slider___yAocZ .Slider__Right___1Zbwy {
    transition: 1s ease;
    cursor: pointer;
    opacity: 0;
    margin-right: 1rem;
    position: absolute;
    color: rgba(255, 255, 255, 0.6);
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000; }

.Slider__Left___1pKyz:hover, .Slider__Right___1Zbwy:hover {
  color: white; }

.Slider__Slider___yAocZ:hover i, .Slider__Slider___yAocZ:hover .Slider__StopPlay___1-bCp {
  transition: 1s ease;
  opacity: 1; }

.Slider__StopPlay___1-bCp {
  transition: 1s ease;
  opacity: 0;
  margin-top: 1rem;
  position: absolute;
  color: rgba(255, 255, 255, 0.6);
  right: 0%;
  top: 100%;
  transform: translateY(-50%);
  z-index: 1000; }

@media (max-width: 600px) {
  .Slider__Slider___yAocZ {
    margin: 0; } }
.SliderItem__SliderItem___3XmAn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0;
  left: 0%;
  top: 0%; }
  .SliderItem__SliderItem___3XmAn img {
    width: 100%;
    height: 100%;
    max-height: 376px; }

.SliderItem__Background___2-o8L {
  position: relative;
  transition: 1s ease-out;
  opacity: 1; }

.SliderItem__BackgroundHide___1n3XP {
  transition: 1s ease;
  opacity: 0; }
.Restaurant__RestaurantContainer___3-5Ns {
  background-color: #1E1E1E;
  width: 100%;
  padding: 2rem;
  margin: 0 20px; }
  .Restaurant__RestaurantContainer___3-5Ns .Restaurant__TitleImg___3IDOS {
    margin-bottom: 16px; }
  .Restaurant__RestaurantContainer___3-5Ns img {
    width: 100%;
    height: 100%; }

.Restaurant__RestaurantItem___3lOen:hover > div {
  transform: scale(0.98);
  transition: 1s; }

@media (max-width: 600px) {
  .Restaurant__RestaurantContainer___3-5Ns {
    margin: 0; } }
.ListItem__ListItem___25pKB {
  position: relative;
  width: 100%;
  height: 100%; }
  .ListItem__ListItem___25pKB .ListItem__ListItemBackground___1-CLy {
    position: absolute;
    z-index: 100;
    background-color: #1E1E1E;
    background-color: rgba(30, 30, 30, 0.5);
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    opacity: 0;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center; }
  .ListItem__ListItem___25pKB .ListItem__ListItemBackground___1-CLy:hover {
    opacity: 1; }

.ListItem__Likes___1ohh3 i {
  color: white;
  cursor: pointer; }

.ListItem__Likes___1ohh3 i:hover {
  color: rgba(255, 0, 0, 0.5); }

.ListItem__Likes___1ohh3 i:active {
  color: red; }

.ListItem__Likes___1ohh3 span {
  margin-left: 1rem;
  font-size: 2rem;
  color: white; }
.Bar__Bar___aTQKj {
  margin: 0 20px;
  background-color: #1E1E1E;
  width: 100%;
  padding: 2rem; }
  .Bar__Bar___aTQKj img {
    width: 100%;
    height: 100%; }

@media (max-width: 600px) {
  .Bar__Bar___aTQKj {
    margin: 0; } }
.Menu__Menu___2L5X- {
  margin: 0 -20px 0 20px;
  background-color: #1E1E1E;
  width: 100%;
  padding: 1rem; }
  .Menu__Menu___2L5X- .Menu__Item___2P8bB {
    display: flex;
    width: 100%;
    justify-content: space-between; }
  .Menu__Menu___2L5X- h3 {
    padding: 16px 8px;
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    text-transform: uppercase;
    margin: 48px 0; }
  .Menu__Menu___2L5X- li {
    margin: 32px 0; }

@media (max-width: 600px) {
  .Menu__Menu___2L5X- {
    margin: 0; } }
.Order__Order___1KdCc {
  background-color: #1E1E1E;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-flow: column; }
  .Order__Order___1KdCc .Order__MenuTitle___1nEWN {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap; }
    .Order__Order___1KdCc .Order__MenuTitle___1nEWN p {
      border-bottom: 1px solid #656565;
      padding: 10px 50px; }
    .Order__Order___1KdCc .Order__MenuTitle___1nEWN h3 {
      width: 100%;
      text-align: center; }

.Order__Dishes___N7Ht5 h2 {
  width: 100%;
  text-align: center;
  font-size: 28px;
  margin: 10px 0; }

.Order__Dishes___N7Ht5 p {
  text-align: center; }
.ModalProduct__ModalProduct____IWKE img {
  width: 100%; }

.ModalProduct__ModalProduct____IWKE .ModalProduct__Container___27v2x {
  display: flex;
  flex-flow: column;
  padding: 16px; }
  .ModalProduct__ModalProduct____IWKE .ModalProduct__Container___27v2x h5 {
    text-transform: uppercase;
    font-size: 24px; }
  .ModalProduct__ModalProduct____IWKE .ModalProduct__Container___27v2x p {
    text-align: left; }

.ModalProduct__ModalProduct____IWKE .ModalProduct__Description___3gWM2 {
  color: #B1B1B1; }

.ModalProduct__ModalProduct____IWKE .ModalProduct__Button___2Yaaq {
  background-color: #EAEAEA;
  color: black;
  text-transform: uppercase;
  padding: 10px;
  border: none;
  font-size: 16px;
  font-weight: bold; }
.Product__ItemContainer___2PrIj {
  border-bottom: 1px solid #EAEAEA;
  cursor: pointer;
  padding: 20px; }
  .Product__ItemContainer___2PrIj .Product__Item___QtSxM {
    display: flex;
    width: 100%;
    justify-content: space-between; }
  .Product__ItemContainer___2PrIj p {
    text-align: left;
    padding-right: 40px; }
  .Product__ItemContainer___2PrIj .Product__Img___fwh-z {
    width: 100%;
    height: 100%;
    padding-right: 16px; }
  .Product__ItemContainer___2PrIj button {
    margin: 0 10px;
    color: white;
    border: 1px solid inherit;
    border-radius: 10px; }
    .Product__ItemContainer___2PrIj button:hover {
      color: #1E1E1E; }

.Product__ItemContainer___2PrIj:hover {
  background-color: rgba(234, 234, 234, 0.05); }

.Product__Add___2Yalu {
  background-color: green; }
.Contact__Contact___WY9gD {
  margin: 0 20px;
  background-color: #1E1E1E;
  width: 100%;
  padding: 2rem; }
  .Contact__Contact___WY9gD form {
    display: flex;
    flex-flow: column; }
    .Contact__Contact___WY9gD form .Contact__ButtonContainer___33Exk {
      display: flex;
      flex-flow: row;
      align-items: center;
      align-content: space-between;
      justify-content: flex-end;
      margin-top: 10px; }
    .Contact__Contact___WY9gD form button {
      background-color: #333333;
      border: 0;
      padding: 5px 15px;
      color: #dcd4d4; }
    .Contact__Contact___WY9gD form button:disabled {
      background-color: #dcd4d4;
      color: rgba(51, 51, 51, 0.2); }

iframe {
  width: 100%;
  height: 300px; }

@media (max-width: 600px) {
  .Contact__Contact___WY9gD {
    margin: 0; } }
.FullProduct__FullProduct___THXvf {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center; }
  .FullProduct__FullProduct___THXvf h3 {
    color: #d8b093;
    margin: 25px 0; }
  .FullProduct__FullProduct___THXvf i,
  .FullProduct__FullProduct___THXvf a {
    color: grey;
    cursor: auto; }
  .FullProduct__FullProduct___THXvf .FullProduct__ActiveLink___3BUUM:hover {
    color: white;
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer; }
  .FullProduct__FullProduct___THXvf .FullProduct__ProductContent___2Dr0o {
    margin: 30px; }
  .FullProduct__FullProduct___THXvf .FullProduct__ProductImg___2_hPi {
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 0; }
    .FullProduct__FullProduct___THXvf .FullProduct__ProductImg___2_hPi img {
      width: 100%;
      object-fit: contain; }

.FullProduct__FullButton___3V9mT {
  position: absolute;
  top: 50px;
  left: 50px; }

.FullProduct__CloseButton___3-qzG {
  position: absolute;
  right: 50px;
  top: 50px; }
  .FullProduct__CloseButton___3-qzG:hover {
    color: white;
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer; }
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;color:#eaeaea}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:"";content:none}table{border-collapse:collapse;border-spacing:0}@font-face{font-family:sofiapro-light;src:url(/Restaurant/static/media/sofiapro-light-webfont.74000ee3.woff2) format("woff2"),url(/Restaurant/static/media/sofiapro-light-webfont.38f9fa55.woff) format("woff");font-weight:400;font-style:normal}*{font-family:sofiapro-light;line-height:1.2;-webkit-box-sizing:border-box;box-sizing:border-box}h1{font-size:46px}h2{font-size:28px;text-transform:uppercase}h3{font-size:26px}h4{font-size:24px;text-transform:uppercase}h5{font-size:18px}h6,p{font-size:16px}a{text-decoration:none;color:#d8b093}a:focus{outline-color:#d8b093}
/*# sourceMappingURL=main.05199362.css.map*/