.Modal {
    position: fixed;
    z-index: 500;
    background-color: #404040;
    width: 70%;
    left: 15%;
    top: 20%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    .Button {
        box-sizing: border-box;
        background-color: black;
        border-radius: 16px;
        cursor: pointer;
        position: absolute;
        color:rgb(234, 234, 234);
        right: calc(0% - 16px);
        top:calc(0% - 16px);
    }

}
@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}

@media (max-height: 640px) {
    .Modal {
        top: 20px;
    }
}