.Navigation {
  width: 100%;
  display: flex;
  align-items: center;
  .NavigationMenu {
    display: flex;
    li {
      align-items: center;
      display: flex;
      width: 100%;
    }
    a, i {
      color: #efefef;    
      margin: 5px auto;
      text-transform: uppercase;
      text-shadow: 1px 1px 5px #000;
      white-space: nowrap;
      cursor: pointer;
      &:hover {
        color:#FFFFFF;
        text-decoration: none;
        }
      }
      a {
        font-size: 14px;
      }
      i {
        width: 100%;
        text-align: end;
      }
    .Active {
      color: #B2B1B1;
      &:hover {
        color:#B2B1B1;
      }
    }
  }
}
  @media (max-width: 600px) {
    .Navigation {
      display: none;
    }
  }
