.ItemContainer {
    border-bottom: 1px solid #EAEAEA;
    cursor: pointer;
    padding: 20px;

    .Item {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    p {
        text-align: left;
        padding-right: 40px;
    }


    .Img {
        width: 100%;
        height: 100%;
        padding-right: 16px;
    }

    button {
        margin: 0 10px;
        color: white;

        &:hover {
            color: #1E1E1E
        }

        border: 1px solid inherit;
        border-radius: 10px;
    }

}

.ItemContainer:hover {
    background-color: rgba($color: #EAEAEA, $alpha: 0.05)
}

.Add {
    background-color: green;
}