.Input {
  width: 100%;
  box-sizing: border-box;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
  textarea {
    min-height: 200px;
  }
}

.InputElement:focus+p {
  display: none;
}

.ErrorMsg {
  display: block;
  height: 16px;
  color: red;
  margin-top: 10px;
  text-align: left;
}

.Label {
  display: block;
}

.InputElement {
  border: 1px solid rgba(51, 51, 51, 1);
  background-color: rgba(101, 101, 101, 0.5);
  color: #EAEAEA;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
}

.InputElement:focus {
  outline: none;
  background-color: rgba(101, 101, 101, 0.9);
  border:none;
}

.Invalid {
  border: 1px solid red;
}

