@import url('https://fonts.googleapis.com/css?family=Mr+De+Haviland');

.Logo {
    padding: 0 0 15px 0;
    background-color:#1E1E1E;
    width: 100%;
    text-align: center;
    h1 {
        margin: 0 40px;
        padding: 30px 0;
        font-size: 46px;
        font-family: 'Mr De Haviland', cursive;
        border-bottom: 1px solid #EAEAEA;
    }
}