.Layout {
    background-image: url('./../../assets/images/background.webp');
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .Container {
    margin : 0 20px 0 0;
  }

  @media (max-width: 600px) {
    .Container {
      margin : 0;
    }
  }
