.Footer {
    border-top: 1px solid #EAEAEA;
    padding: 50px 0px;
    background-color:#1E1E1E;
    p {
        text-align: center;
        margin: 0;
    }
}

.Images {
    text-align: center;
    a {
        display: inline-block;
    }
    margin: 24px 0;
    a:first-child>img:hover {
        border-radius: 2px;
    }
    img {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin: 10px;
        filter: invert(100%);
        &:hover {
            border-radius: 50%;
            filter:invert(50%);
        }

    }
}

.SecondText {
    color: #656565;
    font-size: 11px;
}


@media (max-width: 600px) {
    .Footer {
      display: none;
    }
  }
  
  .Show {
      display: none;
  }

  @media (max-width: 600px) {
    .Show {
      display: inline-block;
      width: 100%;
    }
  }

