.NavMobile {
  display: none;
  position: relative;
  width: 100%;
  .NavContainer {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 25px 25px 0 0;
    z-index: 300;
  }
  .NavMenu {
    background-color: #1E1E1E;
    margin-left: 47px;
    top:calc( 100% - 25px);
    transform-origin: 100% 0%;
    width: 100%;
    border: 1px solid #EAEAEA;
    ul {
      margin: 0;
    }
    li:not(:first-child) {
      border-top: 1px solid rgb(239, 239, 239);
    }
    a, .SignIn {
      color: rgb(239, 239, 239);
      display: flex;
      padding: 10px 25px;
      margin: 5px auto;
      text-align: center;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px #000;
      &:hover {
        color:#FFFFFF;
        text-decoration: none;
      }
      }
      .SignIn {
        cursor: pointer;
      }
      .Active {
        color: #B2B1B1;;
        &:hover {
          color:#B2B1B1;
          text-decoration: none;
        }
      }

    }
  .Active {
     color: #B2B1B1;
  }
}

@media (max-width: 600px) {
  .NavMobile {
    display: flex;
  }
}

.Show {
  transition: all 1s;
  opacity: 1;
  transform:scaleY(1);
}

  .Hide {
    transition: all 1s;
    opacity: 0;
    transform:scaleY(0);
  }
