.OrderAside {
    margin: -16px 30px -1px 20px;
    padding: 20px 0 20px 0px;
    border-right: 1px solid #EAEAEA;;
    border-top:1px solid #EAEAEA;;
    border-bottom:1px solid white;
}
.DishesContainer {
    padding-left:20px;
}
.OrderContainer {
    border-top: 3px solid #EAEAEA;
    margin-top: 100px;
    .OrderTitle {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        padding-right:20px;
        span {
            color: rgba(234, 234, 234, 0.3);
        }
    }
    .OrderItems {
        display: flex;
        justify-content: center;
        flex-flow: wrap;
        i{
            margin-right: 20px;
            color: rgba(234, 234, 234, 0.3);
        }
        p {
            color: rgba(234, 234, 234, 0.3);
            padding: 10%;
        }

        border-bottom: 1px solid #EAEAEA;
    }
    .OrderSummarize {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        padding-right: 20px;
    }
}

