.Layout {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/restaurant-984e6.appspot.com/o/Background%2Fbackground.webp?alt=media&token=34182031-4ad7-4124-b730-0bdc3fdb2fdd');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
  }

  .Container {
    margin : 0 20px 0 0;
  }

  @media (max-width: 600px) {
    .Container {
      margin : 0;
    }
  }