.Auth {
    text-align: center;
    border: 1px solid #eee;
    padding: 20px;
    box-sizing: border-box;
}

@media (min-width: 600px) {
    .Auth {
        width: 500px;
    }
}

.ButtonContainer {
    display: flex;
    flex-flow: column;
    margin-top: 10px;
    button {
        text-transform: uppercase;
        padding: 10px;
        border: none;
        font-size: 16px;
        font-weight: bold;
        width: 50%;
        margin: 20px auto;
        background-color: rgba(51, 51, 51, 1);
        color:rgb(220, 212, 212);
    }

    button:disabled {
        background-color: rgb(220, 212, 212);
        color: rgba(51, 51, 51, 0.2)
      }
      
    span {
        cursor: pointer;
        color: rgb(150, 150, 150);
    }
  }
.Error {
    color: red;
    text-transform: lowercase;
}

.RegisterSuccess {
    font-size: 24px;
}